// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

.header {
  grid-area: header;
  height: 200px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header a {
  text-decoration: none;
  color: white;
  filter: drop-shadow(2px 2px 2px #000);
  font-weight: bold;
  font-size: 2em;
  margin: .5em;
}

.logged_in_portrait {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px #162238 solid;
  background-color: #324359;
  color: white;
}

.login_portrait {
  //clip-path: circle(50%);
  border: 3px #707F8C solid;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

.main-content {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.video {
  margin-bottom: 1em;
  //margin-top: -1em;
}

.video_link {
  text-decoration: none;
}

.thumbnail {
  width: 480px;
  height: 272px;
  background-position: 0px -44px;
  background-size: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.play_button {
  height: 40px;
  margin-left: 20px;
  filter: drop-shadow(2px 2px 2px #000);
}

.login_buttons {
  display: flex;
  justify-content: space-evenly;
}

.login_buttons a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: .5em;
}

.logout_button {
  background-color: #ffa9b1;
  border: 3px #cc3341 solid;
  outline: 1px black solid;
  padding: 5px;
}

.new_video_button {
  background-color: #9dcdff;
  border: 3px #0063ce solid;
  outline: 1px black solid;
  padding: 5px;
}

.description {
  color: white;
  filter: drop-shadow(2px 2px 2px #000);
  margin-left: 20px;
}

.roster_character {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border-left-style: solid;
  border-left-width: 4px;
  border-top-style: solid;
  border-top-width: 1px;
}

.character_name {
  grid-column: 1;
  align-self: center;
  padding-left: 1em;
}

.character_ilvl {
  grid-column: 2;
  align-self: center;
}

.character_portrait {
  width: 50px;
  height: 50px;
  grid-column: 3;
  align-self: center;
}

.character_portrait img {
  width: 50px;
  height: 50px;
}

.Druid {
  border-color: #FF7D0A;
}

.Warlock {
  border-color: #8787ED;
}

.Shaman {
  border-color: #0070DE;
}

.Monk {
  border-color: #00FF96;
}

.Paladin {
  border-color: #F58CBA;
}

.Mage {
  border-color: #40C7EB;
}

.Rogue {
  border-color: #FFF569;
}

.Hunter {
  border-color: #ABD473;
}

.Warrior {
  border-color: #C79C6E;
}

.Death {
  border-color: #C41F3B;
}

.Demon {
  border-color: #A330C9;
}

.Priest {
  border-color: grey;
}
